<html>

<head>
    <link rel='stylesheet' href='./css/example.css'>
    <script>
function getText()
{
  var address=document.getElementById("i1").value

}
    </script>
</head>

<body>
    {{>header}}
<h1>hi from dynamic about.html page from {{address}}</h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
{{>footer}}
</body>

</html>