<html>

<head>
        <link rel='stylesheet' href='./css/example.css'>
</head>

<body>
        {{>header}}
<h1>hi from dynamic help.html page</h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
{{>footer}}
</body>

</html>